html {
	background: #000;
	width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: sans-serif;
}

html:not(.interface) {
  background: #b7b6aa; /* Old browsers */
  background: -moz-linear-gradient(bottom,  #b7b6aa 0%, #59544d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#b7b6aa), color-stop(100%,#59544d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(bottom,  #b7b6aa 0%,#59544d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(bottom,  #b7b6aa 0%,#59544d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(bottom,  #b7b6aa 0%,#59544d 100%); /* IE10+ */
  background: linear-gradient(to top,  #b7b6aa 0%,#59544d 100%); /* W3C */
}

html, body {
	margin: 0;
  padding: 0;
}

.wrapper {
  display: table;
  width: 100%;
  height: 50%;
}
    
div {
  display: table-cell;
  /*width: 50%;*/
  height: 100%;
  position: relative;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

svg {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#one, #two, #three, #four {
	opacity: .1;
}

#one.active, #two.active, #three.active, #four.active {
	opacity: 1;
}

.buttonWrap {
  margin: 50px auto;
  text-align: center;
  max-width: 800px;
}

button {
  margin: 0 auto;
  padding: 1.25rem 4rem;
  border:1px solid rgba(0,0,0,.3);
  border-bottom: none;
  border-radius: 0;
  width: 75%;
  font-size: 1.5rem;
}

button:active {
  background: #666;
  color: #fff;
}

button:active, button:focus {
	outline: none;
}

button:first-of-type {
  border-radius: 10px 10px 0 0;
}

button:last-of-type {
  border-bottom: 3px solid rgba(0,0,0,.3);
  border-radius: 0 0 10px 10px;
}